---
import { Image } from 'astro:assets'
import tumbleweed from '../assets/img/404-Tumbleweed.png'
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="404">
  <section class="my-12">
    <div class="flex flex-col items-center gap-8">
      <div class="flex flex-col items-center">
        <Image src={tumbleweed} alt="A tumbleweed in the desert" class="h-48 w-48" />
        <p class="text-2xl">Whoops, there's nothing here!</p>
      </div>
      <a class="button" href="/">Let's get you home!</a>
    </div>
  </section>
</DefaultLayout>
