---
import Feature from '../components/Feature.astro'
import SectionHeading from '../components/SectionHeading.astro'
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout>
  <div class="container">
    <SectionHeading text="Features" />
    <div class="mb-8 grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
      <Feature icon="mdi:calendar-range" title="Flexible Plans">
        Specify date ranges or rough repeating schedules for flexible tasks, and spend less energy picking and tweaking
        exact dates.
      </Feature>
      <Feature icon="mdi:chart-bar-stacked" title="Auto-Planning">
        Set your preferred workload balance over the days of the week, and let our autoplanner take care of picking plan
        dates for your flexible tasks to align with your preferences.
      </Feature>
      <Feature icon="mdi:chat" title="Natural Language">
        Type or speak in natural language to specify your task's plans, add steps, set effort, and more!
      </Feature>
      <Feature icon="mdi:battery-charging" title="Energy Aware">
        Set time and effort on tasks so you can pick ones that fit your energy level. Let the autoplanner balance your
        time, and even configure it to avoid high effort tasks on certain days.
      </Feature>
      <Feature icon="mdi:robot-happy" title="AI Breakdowns">
        Break down a task into smaller steps with a single click using AI.
      </Feature>
      <Feature icon="mdi:import" title="Todoist Import">
        Bring all your tasks from Todoist in just a few taps, and easily add flexibility to their plans where
        appropriate.
      </Feature>
      <Feature icon="mdi:lightbulb-on" title="Tips">
        Get tips from our built-in digital coach, Aster, to help you break down large items, deal with overdue tasks,
        and more.
      </Feature>
      <Feature icon="mdi:reminder" title="Reminders">
        Add reminders to your tasks and receive push notifications when you use our iOS or Android apps.
      </Feature>
      <Feature icon="mdi:layers-plus" title="Templates">
        Create reusable templates for tasks that come up more than once. Set them to recur automatically on a fixed or
        flexible schedule, or create new tasks from them on demand.
      </Feature>
      <Feature icon="mdi:format-list-numbered" title="Steps">
        Break down a task into smaller steps, and see just the next step to help make the task feel less overwhelming.
      </Feature>
      <Feature icon="mdi:format-list-checkbox" title="Lists">
        Add a list to any task or template. Make a shopping list with categories like "produce", give it a tag like
        "buy" and add items later just by saying "buy produce apples"!
      </Feature>

      <Feature icon="mdi:note-edit-outline" title="Notes">
        Keep any additional info you want to keep track of in notes on your tasks and templates.
      </Feature>
    </div>
  </div>
</DefaultLayout>
