---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout>
  <section class="my-12">
    <div class="container">
      <div class="flex flex-col items-center gap-8">
        <h2>Support</h2>
        <p class="text-center text-2xl">Problems? Questions? Need to request account deletion? Reach us by emailing</p>
        <p class="text-center text-2xl">
          <a href="mailto:indiebloominc@gmail.com">indiebloominc@gmail.com</a>
        </p>
      </div>
    </div>
  </section>
</DefaultLayout>
