---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Privacy Policy">
  <section>
    <div class="container h-[calc(100vh-16rem)]">
      <iframe
        src="https://drive.google.com/file/d/1njKYkNwQ1gvL6cd5WTkwxJ3DC3N0V5rT/preview"
        width="100%"
        height="100%"
        allow="autoplay"></iframe>
    </div>
  </section>
</DefaultLayout>
