---
import Feature from '../components/Feature.astro'
import Hero from '../components/Hero.astro'
import SectionHeading from '../components/SectionHeading.astro'
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Winding Down">
    <div class="container">
      <SectionHeading text="Notice" />
      <h5>2024-10-18</h5>
      <div class="flex flex-col gap-2">
        <div>
        <p>We're sorry to announce that Indie Bloom is shutting its doors. The web, iOS, and Android applications will be discontinued on <b>November 1, 2024</b>, and all user data will be permanently deleted on <b>November 15, 2024</b>. Between October 18 and November 15, any user may request a full dump of their task data by emailing <a href="mailto:indiebloominc@gmail.com">indiebloominc@gmail.com</a>.</p>
        </div>
        <div>
        <p>For anyone looking for a replacement, some promising alternatives to Indie Bloom that have caught our attention include:
            <ul>
                <li><a href="https://ticktick.com/features">TickTick</a></li>
                <li><a href="https://lunatask.app/">Lunatask</a></li>
                <li><a href="https://amazingmarvin.com/">Marvin</a></li>
                <li><a href="https://thruday.com/">Thursday</a></li>
                <li><a href="https://habitica.com/static/home">Habitica</a></li>
            </ul>
        </p>
        </div>
        <div>
            <p>We are profoundly grateful for the time, energy, and ideas that all of our early customers and collaborators have shared with us over the past two years. While Indie Bloom is going away, it's our sincere hope that some of those ideas find a home in other tools and products.</p>
        </div>
        <div>
            Until next time, au revoir, and remember to love your brain!
        </div>
      </div>
    </div>
</DefaultLayout>
