---
import ReleaseListing from '../../components/ReleaseListing.astro'
import DefaultLayout from '../../layouts/DefaultLayout.astro'
const allReleases = await Astro.glob('./*.mdx')
// Sorted in descending order by date
const sortedReleases = allReleases.toSorted((r1, r2) => (r1.frontmatter.date > r2.frontmatter.date ? -1 : 1))
---

<DefaultLayout title="Releases">
  <div class="container">
    <h2>Releases</h2>

    <ul>
      {
        sortedReleases.map((release) => (
          <ReleaseListing url={release.url} {...release.frontmatter} key={release.frontmatter.title} />
        ))
      }
    </ul>
  </div>
</DefaultLayout>
