---
import { Icon } from 'astro-icon/components'
import Tile from './Tile.astro'

const { icon = 'mdi:rocket', title = 'Title' } = Astro.props
---

<Tile>
  <div class="flex flex-col gap-4 p-8">
    <Icon name={icon} class="text-4xl" />
    <div>
      <div class="flex flex-row gap-2">
        <Icon name="ion:checkbox" class="my-auto text-2xl" />
        <h3>{title}</h3>
      </div>
      <p>
        <slot>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, corporis.</slot>
      </p>
    </div>
  </div>
</Tile>
