---
import { SkipLinks } from 'accessible-astro-components'
import Navigation from '../components/Navigation.astro'

const allReleases = await Astro.glob('../pages/releases/*.mdx')
// Sorted in descending order by date
const latestReleases = allReleases
  .toSorted((r1, r2) => (r1.frontmatter.date > r2.frontmatter.date ? -1 : 1))
  .slice(0, 5)
---

<header>
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="/features/">Features</a>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Release Notes</button>
      <ul class="dropdown-menu">
        {
          latestReleases.map((release) => (
            <li class="submenu-item">
              <a href={release.url}>{release.frontmatter.title}</a>
            </li>
          ))
        }
        <li class="submenu-item">
          <a href="/releases/">All Releases</a>
        </li>
      </ul>
      <li class="menu-item">
        <a href="/about">About</a>
      </li>
    </li>
  </Navigation>

  <style lang="scss" is:global>
    @use '../assets/scss/base/outline' as *;

    header {
      .type-icon a {
        display: block;

        [data-icon] {
          height: auto;
          margin-top: -4px;
          width: 30px;

          path {
            fill: var(--action-color);
          }
        }

        &:hover {
          [data-icon] path {
            fill: var(--action-color-state);
          }
        }
      }
    }
  </style>
</header>
