---
import { Image } from 'astro:assets'
import multiDeviceHero from '../assets/img/MultideviceHero.png'
import HeroText from './HeroText.astro'
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-12 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-8xl">
          <HeroText text="Indie Bloom" />
        </h1>
        <h2 class="text-center text-2xl font-light italic md:text-left lg:text-3xl">
          <HeroText text="Peace of mind for everyday life" secondary />
        </h2>
      </div>
      <Image
        class="hidden w-full lg:block"
        src={multiDeviceHero}
        alt="Indie Bloom home page on iPhone 12"
        decoding="async"
      />
    </div>
  </div>
</section>
