---
const { url, title, date } = Astro.props
---

<div>
  <li>
    <div class="font-mono">
      <h4>
        <a href={url}>{title}</a>
      </h4>
      <h5>{date.slice(0, 10)}</h5>
    </div>
  </li>
</div>
